.vh-toc {
  box-sizing: border-box;
  padding: 1.28rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--vh-main-radius);
  background-color: var(--vh-white-color);
  box-shadow: var(--vh-box-shadow);
  overflow: hidden;

  &.hidden {
    display: none;
  }

  .vh-toc-title {
    font-size: 0.68rem;
    font-weight: 400;
    color: var(--vh-font-56);
    margin: 0 0 0.66rem;
    padding-left: 0.56rem;
    border-left: 3px solid var(--vh-main-color);
  }

  .vh-toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 360px;
    overflow-y: auto;
  }

  .vh-toc-item {
    line-height: 1.6;

    a {
      display: block;
      padding: 0.18rem 0.56rem;
      font-size: 0.85rem;
      color: var(--vh-font-66);
      text-decoration: none;
      border-radius: 4px;
      transition: all 0.2s ease;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.vh-toc-depth-3 a {
      padding-left: 1.5rem;
      font-size: 0.8rem;
    }

    &:hover a {
      color: var(--vh-main-color);
      background: var(--vh-main-color-16);
    }
  }
}
