---
const { placeholder } = Astro.props;
import "./Comment.less";
---

<section class="vh-comment" data-placeholder={placeholder}>
  <section>
    <section class="vh-space-loading"><span></span><span></span><span></span></section>
  </section>
</section>
